<div class="navbar navbar-inverse nav-bar-fixed-bottom bar-menu" id="footer" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>2016 HAGM</p>
    </div>
    <div class="navbar-text pull-right">
      <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="http://twitter.com/AgmHermes" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="http://github.com/hermesalexis" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </div>
</div>